#ancor-post-it
{
    float:left;
    z-index: -10;
}
#draggable
{
    position:absolute;
}

.searchBar {

}
.logo a{
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fed136;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    height: 50px;
}
.menu {
    margin-top: 20px;
    display: inline-block;
}
.menu ul{
    list-style-type: none;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fed136;
}
.menu ul li a{
    cursor: pointer;
    text-decoration: none;
}
.menu ul li .loginForm {
    background-color: rgba(51, 45, 84, 0.24);
    padding: 15px;
}

.menu ul li .loginForm .bnt{
    margin: 10px 10px 0 0;
    float: right;
}
.menu ul li .error{
    color: #ff6259;
    font-weight: bold;
    font-size: 21px;
}
.note.current-post{
    z-index : 9999;
    border :#F00 3px solid;
}
.dropped-note {
    margin-top: 35%;
    padding-left: 25%;
}
.note {
    position: absolute;
    width: 184px;
    height: 184px;
    padding: 23px;
    /*box-shadow: 12px -9px 19px #bbb;*/
    color: #111;
    background: #F2EB4E;
    overflow: hidden;
    border:#888 1px solid;
    z-index: 10;
}
/*
.note:hover:after {
    transition: transform 0.6s;
    transform: translate(20px,-20px) scale(9,9);
}
.note:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 44%, rgba(242,234,78,1) 51%, rgba(242,234,78,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(44%, rgba(255,255,255,1)), color-stop(51%, rgba(242,234,78,1)), color-stop(100%, rgba(242,234,78,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 44%, rgba(242,234,78,1) 51%, rgba(242,234,78,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 44%, rgba(242,234,78,1) 51%, rgba(242,234,78,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 44%, rgba(242,234,78,1) 51%, rgba(242,234,78,1) 100%);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 44%, rgba(242,234,78,1) 51%, rgba(242,234,78,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2ea4e', GradientType=1 );

    -webkit-box-shadow: 1px -3px 9px #888;
    -moz-box-shadow: 1px -3px 9px #888;
    box-shadow: 1px -3px 9px #888;
    display: block;
    transition: transform 0.6s;
    width: 5px;
    height: 5px;
}*/
.note.rounded {
    -moz-border-radius: 5px 0 5px 5px;
    border-radius: 5px 0 5px 5px;
}

.note.rounded:before {
    border-width: 8px;
    border-color: #fff #fff transparent transparent;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}
.note .dropped
{
    position: relative;
    float : left;
}
body{
    margin : 0px;
}

.main-desk{
    width:100%;
    height:100%;
}
.main-desk .sidebar
{
    top:0px;
    left : 0px;
    float: left;
    height : 100vh;
    width : 300px;
    display : inline-block;
    border-right : 1px solid #000;
    background-color: #10AE9F;

}
.main-desk .working-desk{
    width: 100%;
    left: 300px;
    height: 100vh;
    float: right;
    position: absolute;
    z-index: 0;
}