<div class="modal-header">
	<button type="button" class="btn btn-default close" ng-click="cancel()">
		<span class="glyphicon glyphicon-cross"></span><span class="sr-only">Close</span>
	</button>
	<strong class="modal-title"><h2>Edificio</h2></strong>
</div>
<div class="modal-body">
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
</div>