<div ng-transclude></div>
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-5"><label res-data="personalData.formContraenteDiverso.label.sesso"></label></div>
            <div class="col-sm-6">
                <label class="radio radio-inline">
                    <input id="policy-holder-gender-M"
                           name="policy-holder-gender"
                           ng-class="{'error' : personalData['policy-holder-gender'].$submitted && personalData['policy-holder-gender'].$error.required}"
                           ng-model="policyHolder.gender"
                           aria-label="policy-holder-gender"
                           type="radio"
                           value="MALE"
                           ng-required="policyHolder.isCoincidentTo == 'OTHER'"
                           tabindex="0">
                <span class="label" res-data="personalData.formContraenteDiverso.span.sesso.uomo></span>
            </label>
            <label class="radio radio-inline">
                    <input id="policy-holder-gender-F"
                           name="policy-holder-gender"
                           ng-class="{'error' : personalData['policy-holder-gender'].$submitted && personalData['policy-holder-gender'].$error.required}"
                           ng-model="policyHolder.gender"
                           aria-label="policy-holder-gender"
                           type="radio"
                           value="FEMALE"
                           ng-required="policyHolder.isCoincidentTo == 'OTHER'"
                           tabindex="0">
                    <span class="label" res-data="personalData.formContraenteDiverso.span.sesso.donna"></span>
                </label>
                <label class="error" ng-show="personalData.$submitted && personalData['policy-holder-gender'].$error.required" res-data="personalData.formContraenteDiverso.label.sesso.obbligatorio"></label>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-5"><label res-data="personalData.formContraenteDiverso.label.nome"></label></div>
            <div class="col-sm-6">
                <input-text  name="policy-holder-firstName"
                             id="policy-holder-firstName"
                             bind-to="policyHolder.firstName"
                             placeholder="Mario"
                             class="form-control"
                             validation-type="name"
                             error-class="error"
                             ng-required="policyHolder.isCoincidentTo == 'OTHER'"
                             ng-class="{'error' : ( personalData['policy-holder-firstName'].$dirty && $parent.hasError('policy-holder-firstName') ) || ( personalData.$submitted && $parent.hasError('policy-holder-firstName') )}"
                             default-error-class="ng-hide">
                    <validation key="required">Obbligatorio</validation>
                    <validation key="pattern">Errato</validation>
                    <input-layout>
                        <span class="input">
                            <input>
                        </span>
                    </input-layout>
                    <error-layout>
                        <label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text"></label>
                    </error-layout>
                </input-text>
                <!--<input type="text"
                       id="policy-holder-name"
                       name="policy-holder-name"
                       class="required lettersonly form-control"
                       ng-class="{'error' : personalData.$dirty && personalData['policy-holder-name'].$error.required}"
                       ng-model="policyHolder.name"
                       placeholder="Mario"
                       ng-required="policyHolder.isCoincidentTo == 'OTHER'"
                       tabindex="0">
                <label class="error" ng-show="personalData.$dirty && personalData['policy-holder-name'].$error.required">Obbligatorio</label>-->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5"><label res-data="personalData.formContraenteDiverso.label.cognome"></label></div>
            <div class="col-sm-6">
                <input-text  name="policy-holder-lastName"
                             id="policy-holder-lastName"
                             bind-to="policyHolder.lastName"
                             placeholder="Rossi"
                             class="form-control"
                             validation-type="name"
                             error-class="error"
                             ng-required="policyHolder.isCoincidentTo == 'OTHER'"
                             ng-class="{'error' : ( personalData['policy-holder-lastName'].$dirty && $parent.hasError('policy-holder-lastName') ) || ( personalData.$submitted && $parent.hasError('policy-holder-lastName') )}"
                             default-error-class="ng-hide">
                    <validation key="required">Obbligatorio</validation>
                    <validation key="pattern">Invalido</validation>
                    <input-layout>
                        <span class="input">
                            <input>
                        </span>
                    </input-layout>
                    <error-layout>
                        <label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text"></label>
                    </error-layout>
                </input-text>
                <!--<input type="text"
                       id="policy-holder-surname"
                       name="policy-holder-surname"
                       ng-model="policyHolder.surname"
                       ng-class="{'error' : personalData.$dirty && personalData['policy-holder-surname'].$error.required}"
                       ng-required="policyHolder.isCoincidentTo == 'OTHER'"
                       class="required lettersonly form-control"
                       placeholder="Rossi"
                       tabindex="0">
                <label class="error" ng-show="personalData.$dirty && personalData['policy-holder-surname'].$error.required">Obbligatorio</label>-->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5"><label res-data="personalData.formContraenteDiverso.label.data"></label></div>
            <div class="col-sm-6">

                <div class="full-width-col">
                    <input
                            id="policy-holder-date-of-birth"
                            name="policy-holder-date-of-birth"
                            type="text"
                            placeholder="GG/MM/AAAA"
                            class="form-control input_date required dateFormat"
                            datepicker-popup="dd/MM/yyyy"
                            ng-model="policyHolder.dateOfBirth"
                            is-open="policyHolderdateOfBirthOpen"
                            date-disabled="disabled(date, mode)"
                            close-on-date-selection="true"
                            show-button-bar="false"
                            close-text="Close"
                            datepicker-options="dateOptions"
                            date-validator
                            ng-required="policyHolder.isCoincidentTo == 'OTHER'"
                            param="18"
                            ng-class="{'error' : ( personalData['policy-holder-date-of-birth'].$dirty && hasError('policy-holder-date-of-birth') ) || ( personalData.$submitted && hasError('policy-holder-date-of-birth') )}"
                            masked-input
                            />
                    <div class="datepicker-opener" ng-click="openModal($event,'policyHolderdateOfBirthOpen')"></div>
                    <label class="error" ng-show="personalData.$submitted && personalData['policy-holder-date-of-birth'].$error.required" res-data="personalData.formContraenteDiverso.label.data.obbligatorio1"></label>
                    <label class="error" ng-show="personalData.$dirty && personalData['policy-holder-date-of-birth'].$error.dateValidator" res-data="personalData.formContraenteDiverso.label.data.obbligatorio2"></label>
                </div>

            </div>
        </div>

        <div class="row" ng-if="vehiclePropertyType == '0002' || vehiclePropertyType == '0012'">
            <div class="col-sm-5"><label res-data="personalData.formContraenteDiverso.label.professione"></label></div>
            <div class="col-sm-6">
                <select id="policy-holder-occupation"
                        class="form-control"
                        name="policy-holder-occupation"
                        ng-model="policyHolder.occupation"
                        ng-required="( vehiclePropertyType == '0002' || vehiclePropertyType == '0012' ) && policyHolder.isCoincidentTo == 'OTHER'"
                        tabindex="0">
                    <option value="liberoprofessionista" selected>Libero Professionista</option>
                    <option value="impiegato">Impiegato</option>
                    <option value="operaio">Operaio</option>
                    <option value="altro">Altro</option>
                </select>
            </div>
        </div>

    </div>

    <div class="col-sm-6">

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1"><label res-data="personalData.formContraenteDiverso.label.luogo"></label></div>
            <div class="col-sm-6">
                <input
                        type="text"
                        id="policy-holder-birth-location"
                        name="policy-holder-birth-location"
                        ng-required="policyHolder.isCoincidentTo == 'OTHER'"
                        class="form-control"
                        ng-model="policyHolder.birthLocation"
                        ng-class="{'error' : personalData['policy-holder-birth-location'].$submitted && !policyHolder.birthLocation.landRegister}"
                        typeahead="comune as comune.name for comune in getLocation($viewValue,'municipality',2)"
                        placeholder="Roma"
                        />

                <!--typeahead="comune as comune.Descrizione for comune in comuniAVO | filter:$viewValue"-->
                <!--<ui-select ng-model="policyHolder.locality.selected"
                           theme="bootstrap"
                           id="policy-holder-locality"
                           name="policy-holder-locality"
                           ng-disabled="disabled"
                           reset-search-input="false"
                           ng-required="policyHolder.isCoincidentTo == 'OTHER'"
                           style="width: 300px;">
                    <ui-select-match placeholder="Enter an address...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="address in addresses track by $index"
                                       refresh="refreshAddresses($select.search)"
                                       refresh-delay="0">
                        <div ng-bind-html="address.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>-->
                <label class="error" ng-show="personalData['policy-holder-birth-location'].$submitted && !policyHolder.birthLocation.landRegister" res-data="personalData.formContraenteDiverso.label.luogo.obbligatorio"></label>
                <!--<input type="text" class="form-control comune" id="comune" name="comune" placeholder="Roma" data-warning="" tabindex="0" ng-model="cittanascita">-->
            </div>
        </div>


        <div class="row" ng-if="isFieldExcluded('nucleofamiliare')">
            <div class="col-sm-5 col-sm-offset-1"><label res-data="personalData.formContraenteDiverso.label.famiglia"></label></div>
            <div class="col-sm-6">
                <select id="nucleofamiliare" class="form-control" name="nucleofamiliare" tabindex="0">
                    <option value="1" selected>Coppia con figli</option>
                    <option value="2">Coppia senza figli</option>
                    <option value="3">Una persona</option>
                    <option value="4">Altro</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1"><label res-data="personalData.formContraenteDiverso.label.cf"></label></div>
            <div class="col-sm-6">
                <input-text  name="policy-holder-socialSecurityNumber"
                             id="policy-holder-socialSecurityNumber"
                             bind-to="policyHolder.socialSecurityNumber"
                             placeholder="RSS MRA 60A01 H501 Q"
                             class="form-control"
                             cf-name="policyHolder.firstName"
                             cf-surname="policyHolder.lastName"
                             cf-sex="policyHolder.gender"
                             cf-cod-catas="policyHolder.birthLocation.landRegister"
                             cf-birth-date="policyHolder.dateOfBirth"
                             cf-birth-date-lang="it-IT"
                             validation-type="codFisc"
                             calculate-code
                             error-class="error"
                             ng-class="{'error' : ( personalData['policy-holder-socialSecurityNumber'].$dirty && $parent.hasError('policy-holder-socialSecurityNumber') ) || ( personalData.$submitted && $parent.hasError('policy-holder-socialSecurityNumber') )}"
                             ng-required="policyHolder.isCoincidentTo == 'OTHER'"
                             default-error-class="ng-hide">
                    <validation key="required">Obbligatorio</validation>
                    <validation key="pattern">Errato</validation>
                    <validation key="complexCheck">Il codice non coincide con i tuoi dati</validation>
                    <input-layout>
                        <span class="input">
                            <input>
                        </span>
                    </input-layout>
                    <error-layout>
                        <label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text"></label>
                    </error-layout>
                </input-text>
            </div>
        </div>

        <div class="row" ng-if="isFieldExcluded('cittadinanza')">
            <div class="col-sm-5 col-sm-offset-1"><label res-data="personalData.formContraenteDiverso.label.cittadinanza"></label></div>
            <div class="col-sm-6">
                <select id="nazione" class="form-control" name="nazione" tabindex="0" class="required">
                    <option value="italia" selected>Italia</option>
                    <option value="francia">Francia</option>
                    <option value="germania">Germania</option>
                    <option value="spagna">Spagna</option>
                </select>
            </div>
        </div>

    </div>
</div>

<h4 class="border"><span res-data="personalData.formContraenteDiverso.span.residenza"></span></h4>
<div class="row">

    <div class="col-sm-2">
        <label res-data="personalData.formContraenteDiverso.span.residenza.localita"></label>
    </div>

    <div class="col-sm-10">
        <div class="row narrow align-adjst">
            <div class="col-sm-12 elastic">

                <div class="input-group">
                    <input-text  name="policy-holder-zipCode"
                                 id="policy-holder-zipCode"
                                 bind-to="policyHolder.addresses[0].zipCode"
                                 ng-required="policyHolder.isCoincidentTo == 'OTHER'"
                                 class="form-control"
                                 validation-type="cap"
                                 error-class="error"
                                 ng-class="{'error' : ( personalData['policy-holder-zipCode'].$dirty && $parent.hasError('policy-holder-zipCode') ) || ( personalData.$submitted && $parent.hasError('policy-holder-zipCode') ) }"
                                 default-error-class="ng-hide">
                        <validation key="required">Obbligatorio</validation>
                        <validation key="pattern">Errato</validation>
                        <validation key="config">Validazione CAP fallita</validation>
                        <input-layout>
                                        <span class="input">
                                            <input>
                                        </span>
                        </input-layout>
                        <error-layout>
                            <label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text"></label>
                        </error-layout>
                    </input-text>
                </div>

                <div class="input-group">
                    <span class="form_read_only">{{ policyHolder.addresses[0].locality.name}}</span>
                    <div class="selectwrap">
                        <select
                                data-placeholder="Scegli la localit&agrave;"
                                id="policy-holder-locality"
                                name="policy-holder-locality"
                                ng-model="policyHolder.addresses[0].locality"
                                class="required"
                                tabindex="0"
                                ng-options="item.name for item in policyHolderLoc track by item.countryCode"
                                ng-class="{'error' : personalData['policy-holder-locality'].$submitted && personalData['policy-holder-locality'].$error.required}"
                                ng-required="policyHolder.isCoincidentTo == 'OTHER'">
                            <option value></option>
                        </select>
                        <label class="error" ng-show="personalData['policy-holder-locality'].$submitted && personalData['policy-holder-locality'].$error.required" res-data="personalData.formContraenteDiverso.label.residenza.localita.validazione2"></label>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-2">
        <label res-data="personalData.formContraenteDiverso.label.indirizzo"></label>
    </div>
    <div class="col-sm-10">
        <div class="row narrow align-adjst">
            <div class="col-sm-2">
                <select
                        id="policy-holder-toponym-code"
                        name="policy-holder-toponym-code"
                        ng-model="policyHolder.addresses[0].toponymCode"
                        tabindex="0"
                        class="required"
                        ng-class="{'error' : personalData['policy-holder-toponym-code'].$submitted && personalData['policy-holder-toponym-code'].$error.required}"
                        ng-required="policyHolder.isCoincidentTo == 'OTHER'"
                        ng-options="item.label for item in toponym track by item.value">
                </select>
                <label class="error" ng-show="personalData['policy-holder-toponym-code'].$submitted && personalData['policy-holder-toponym-code'].$error.required" res-data="personalData.formContraenteDiverso.label.indirizzo.obbligatorio1"></label>
            </div>
            <div class="col-sm-5">
                <div class="input-group">
                    <input
                            type="text"
                            id="policy-holder-street"
                            name="policy-holder-street"
                            ng-required="policyHolder.isCoincidentTo == 'OTHER'"
                            class="form-control"
                            ng-model="policyHolder.addresses[0].street"
                            ng-class="{'error' : personalData['policy-holder-street'].$submitted && !policyHolder.addresses[0].street.toponymCode}"
                            typeahead="street as street.name for street in getLocation($viewValue,'street',3,policyHolder.addresses[0].locality)"
                            typeahead-on-select='typeaheadOnSelect($item, $model, $label,"policyHolder.addresses[0].toponymCode","policyHolder.addresses[0].zipCode")'
                            placeholder="es. Alessandro Manzoni"
                            />
                </div>
                <label class="error" ng-show="personalData.$submitted && !policyHolder.addresses[0].street.toponymCode" res-data="personalData.formContraenteDiverso.label.indirizzo.obbligatorio2"></label>
            </div>
            <div class="col-sm-2">
                <div class="input-group">
                    <input-text  name="policy-holder-street-number"
                                 id="policy-holder-street-number"
                                 bind-to="policyHolder.addresses[0].streetNumber"
                                 ng-required="policyHolder.isCoincidentTo == 'OTHER'"
                                 placeholder="n.civico"
                                 class="form-control"
                                 ng-class="{'error' : personalData['policy-holder-street-number'].$dirty && $parent.hasError('policy-holder-street-number')}"
                                 validation-type="addressNumber"
                                 error-class="error"
                                 default-error-class="ng-hide">
                        <validation key="required">Obbligatorio</validation>
                        <validation key="pattern">Inserire un numero civico</validation>
                        <input-layout>
                        <span class="input">
                            <input>
                        </span>
                        </input-layout>
                        <error-layout>
                            <label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text"></label>
                        </error-layout>
                    </input-text>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <label>Edificio</label>
    </div>
    <div class="col-sm-4 align-adjst aa2">
        <input
                id="policy-holder-building"
                name="policy-holder-building"
                ng-model="policyHolder.addresses[0].building"
                type="text"
                class="form-control"
                placeholder="Edificio (opzionale)"
                tabindex="0">
    </div>
</div>

<div class="col-sm-12 separator"></div>