<div ng-transclude></div>
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-5"><label res-data="personalData.formIntestatariAggiuntivi.label.sesso"></label></div>
            <div class="col-sm-6">
                <label class="radio radio-inline">
                    <input id="additional-vehicle-holder-gender-M"
                           name="additional-vehicle-holder-gender"
                           ng-class="{'error' : additionalVORequired && personalData['additional-vehicle-holder-sex'].$error.required}"
                           ng-model="additionalVO.gender"
                           aria-label="additional-vehicle-holder-gender"
                           type="radio"
                           value="MALE"
                           ng-required="additionalVO.is == 'S' && additionalVORequired"
                           tabindex="0">
                    <span class="label" res-data="personalData.formIntestatariAggiuntivi.span.sesso.uomo"></span>
                </label>
                <label class="radio radio-inline">
                    <input id="additional-vehicle-holder-gender-F"
                           name="additional-vehicle-holder-gender"
                           ng-class="{'error' : additionalVORequired && personalData['additional-vehicle-holder-sex'].$error.required}"
                           ng-model="additionalVO.gender"
                           aria-label="additional-vehicle-holder-gender"
                           type="radio"
                           value="FEMALE"
                           ng-required="additionalVO.is == 'S' && additionalVORequired"
                           tabindex="0">
                    <span class="label" res-data="personalData.formIntestatariAggiuntivi.span.sesso.donna"></span>
                </label>
                <label class="error" ng-show="additionalVORequired && personalData['additional-vehicle-holder-gender'].$error.required" res-data="personalData.formIntestatariAggiuntivi.label.sesso.obbligatorio"></label>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-5"><label res-data="personalData.formIntestatariAggiuntivi.label.nome"></label></div>
            <div class="col-sm-6">
                <input-text  name="additional-vehicle-holder-firstName"
                             id="additional-vehicle-holder-firstName"
                             bind-to="additionalVO.firstName"
                             placeholder="Mario"
                             class="form-control"
                             validation-type="name"
                             error-class="error"
                             ng-required="additionalVO.is == 'S' && ( additionalVORequired || personalData['additional-vehicle-holder-firstName'].$dirty )"
                             ng-class="{'error' : ( personalData['additional-vehicle-holder-firstName'].$dirty && $parent.hasError('additional-vehicle-holder-firstName') ) || ( additionalVORequired && $parent.hasError('additional-vehicle-holder-firstName') )}"
                             default-error-class="ng-hide">
                    <validation key="required" error-message="validation.msg.required"></validation>
                    <validation key="pattern" error-message="validation.msg.pattern"></validation>
                    <input-layout>
                        <span class="input">
                            <input>
                        </span>
                    </input-layout>
                    <error-layout>
                        <!--<label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text"><span>{{ resarr[validators[key]] }}</span></label>-->
                        <label ng-show="personalData.$submitted || personalData['additional-vehicle-holder-firstName'].$dirty" class="error" style="display: inline-block;" >{{ getPriorityError('required') }}</label>
                    </error-layout>
                </input-text>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5"><label res-data="personalData.formIntestatariAggiuntivi.label.cognome"></label></div>
            <div class="col-sm-6">
                <input-text  name="additional-vehicle-holder-lastName"
                             id="additional-vehicle-holder-lastName"
                             bind-to="additionalVO.lastName"
                             placeholder="Rossi"
                             class="form-control"
                             validation-type="name"
                             error-class="error"
                             ng-required="additionalVO.is == 'S' && ( additionalVORequired || personalData['additional-vehicle-holder-lastName'].$dirty )"
                             ng-class="{'error' : ( personalData['additional-vehicle-holder-lastName'].$dirty && $parent.hasError('additional-vehicle-holder-lastName') ) || ( additionalVORequired && $parent.hasError('additional-vehicle-holder-lastName') )}"
                             default-error-class="ng-hide">
                    <validation key="required" error-message="validation.msg.required"></validation>
                    <validation key="pattern" error-message="validation.msg.pattern"></validation>
                    <input-layout>
                        <span class="input">
                            <input>
                        </span>
                    </input-layout>
                    <error-layout>
                        <label ng-show="personalData.$submitted || personalData['additional-vehicle-holder-lastName'].$dirty" class="error" style="display: inline-block;" >{{ getPriorityError('required') }}</label>
                    </error-layout>
                </input-text>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5"><label res-data="personalData.formIntestatariAggiuntivi.label.data"></label></div>
            <div class="col-sm-6">

                <div class="full-width-col">
                    <input
                            id="additional-vehicle-holder-date-of-birth"
                            name="additional-vehicle-holder-date-of-birth"
                            type="text"
                            placeholder="GG/MM/AAAA"
                            class="form-control input_date required dateFormat"
                            datepicker-popup="dd/MM/yyyy"
                            ng-model="additionalVO.dateOfBirth"
                            is-open="additionalVOdateOfBirthOpen"
                            date-disabled="disabled(date, mode)"
                            close-on-date-selection="true"
                            show-button-bar="false"
                            close-text="Close"
                            datepicker-options="dateOptions"
                            date-validator
                            ng-required="additionalVO.is == 'S' && ( additionalVORequired || personalData['additional-vehicle-holder-date-of-birth'].$touched )"
                            param="18"
                            ng-class="{'error' : ( personalData['additional-vehicle-holder-date-of-birth'].$touched && hasError('additional-vehicle-holder-date-of-birth') ) || ( additionalVORequired && hasError('additional-vehicle-holder-date-of-birth') ) }"
                            masked-input
                            />
                    <div class="datepicker-opener" ng-click="openModal($event,'additionalVOdateOfBirthOpen')"></div>
                    <label class="error" ng-show="additionalVORequired && personalData['additional-vehicle-holder-date-of-birth'].$error.required" res-data="personalData.formIntestatariAggiuntivi.label.data.obbligatorio1"></label>
                    <label class="error" ng-show="personalData['additional-vehicle-holder-date-of-birth'].$touched && ( personalData['additional-vehicle-holder-date-of-birth'].$error.dateValidator || personalData['additional-vehicle-holder-date-of-birth'].$error.parse)" res-data="personalData.formIntestatariAggiuntivi.label.data.obbligatorio2"></label>
                </div>

            </div>
        </div>
        <!--<div class="row" ng-if="vehiclePropertyType == '0004' || vehiclePropertyType == '0012'">
            <div class="col-sm-5"><label res-data="personalData.formIntestatariAggiuntivi.label.professione"></label></div>
            <div class="col-sm-6">
                <select id="additional-vehicle-holder-profession"
                        class="form-control"
                        name="additional-vehicle-holder-profession"
                        ng-class="{'error' : additionalVORequired && personalData['additional-vehicle-holder-profession'].$error.required}"
                        ng-model="additionalVO.profession"
                        ng-options="item.label for item in occupation track by item.value"
                        tabindex="0"
                        ng-required="additionalVO.is == 'S' && additionalVORequired && (vehiclePropertyType == '0004' || vehiclePropertyType == '0012')">
                </select>
                <label class="error" ng-show="additionalVORequired && personalData['additional-vehicle-holder-profession'].$error.required" res-data="personalData.formIntestatariAggiuntivi.label.data.obbligatorio1"></label>
            </div>
        </div>-->
    </div>

    <div class="col-sm-6">

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1"><label res-data="personalData.formIntestatariAggiuntivi.label.luogo"></label></div>
            <div class="col-sm-6">
                <input
                        type="text"
                        id="additional-vehicle-holder-birth-location"
                        name="additional-vehicle-holder-birth-location"
                        ng-required="additionalVO.is == 'S' && additionalVORequired"
                        class="form-control"
                        ng-model="additionalVO.birthLocation"
                        ng-class="{'error' : additionalVORequired && !additionalVO.birthLocation.landRegister }"
                        typeahead="comune as comune.name for comune in getLocation($viewValue,'municipality',2)"
                        placeholder="Roma"
                        />
                <label class="error" ng-show="additionalVORequired && !additionalVO.birthLocation.landRegister" res-data="personalData.formIntestatariAggiuntivi.label.luogo.obbligatorio"></label>
            </div>
        </div>


        <div class="row" ng-if="isFieldExcluded('nucleofamiliare')">
            <div class="col-sm-5 col-sm-offset-1"><label res-data="personalData.formIntestatariAggiuntivi.label.famiglia"></label></div>
            <div class="col-sm-6">
                <select id="nucleofamiliare" class="form-control" name="nucleofamiliare" tabindex="0">
                    <option value="1" selected>Coppia con figli</option>
                    <option value="2">Coppia senza figli</option>
                    <option value="3">Una persona</option>
                    <option value="4">Altro</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1"><label res-data="personalData.formIntestatariAggiuntivi.label.cf"></label></div>
            <div class="col-sm-6">
                <input-text  name="additional-vehicle-holder-socialSecurityNumber"
                             id="additional-vehicle-holder-socialSecurityNumber"
                             bind-to="additionalVO.socialSecurityNumber"
                             placeholder="RSS MRA 60A01 H501 Q"
                             class="form-control"
                             cf-name="additionalVO.firstName"
                             cf-surname="additionalVO.lastName"
                             cf-sex="additionalVO.gender"
                             cf-cod-catas="additionalVO.birthLocation.landRegister"
                             cf-birth-date="additionalVO.dateOfBirth"
                             cf-birth-date-lang="it-IT"
                             validation-type="codFisc"
                             calculate-code
                             error-class="error"
                             ng-class="{'error' : ( personalData['additional-vehicle-holder-socialSecurityNumber'].$dirty && $parent.hasError('additional-vehicle-holder-socialSecurityNumber') ) || ( additionalVORequired && $parent.hasError('additional-vehicle-holder-socialSecurityNumber') )}"
                             ng-required="additionalVO.is == 'S' && additionalVORequired"
                             default-error-class="ng-hide">
                    <validation key="required" error-message="validation.msg.required"></validation>
                    <validation key="pattern" error-message="validation.msg.pattern"></validation>
                    <validation key="complexCheck" error-message="validation.msg.pattern"></validation>
                    <input-layout>
                        <span class="input">
                            <input>
                        </span>
                    </input-layout>
                    <error-layout>
                        <label ng-show="personalData.$submitted || personalData['additional-vehicle-holder-socialSecurityNumber'].$dirty" class="error" style="display: inline-block;" >{{ getPriorityError('required') }}</label>
                    </error-layout>
                </input-text>
            </div>
        </div>
        <!--<validation key="required">Obbligatorio</validation>
        <validation key="pattern">Il codice fiscale non è valido</validation>
        <validation key="complexCheck">Il codice non coincide con i tuoi dati</validation>-->

        <div class="row" ng-if="isFieldExcluded('cittadinanza')">
            <div class="col-sm-5 col-sm-offset-1"><label res-data="personalData.formIntestatariAggiuntivi.label.cittadinanza"></label></div>
            <div class="col-sm-6">
                <select id="nazione" class="form-control" name="nazione" tabindex="0" class="required">
                    <option value="italia" selected>Italia</option>
                    <option value="francia">Francia</option>
                    <option value="germania">Germania</option>
                    <option value="spagna">Spagna</option>
                </select>
            </div>
        </div>

    </div>
</div>

<h4 class="border"><span res-data="personalData.formIntestatariAggiuntivi.span.residenza"></span></h4>
<div class="row">

    <div class="col-sm-2">
        <label res-data="personalData.formIntestatariAggiuntivi.span.residenza.localita"></label>
    </div>

    <div class="col-sm-10">
        <div class="row narrow align-adjst">
            <div class="col-sm-12 elastic">

                <div class="input-group">
                    <input-text  name="additional-vehicle-holder-zipCode"
                                 id="additional-vehicle-holder-zipCode"
                                 bind-to="additionalVO.addresses[0].zipCode"
                                 ng-required="additionalVO.is == 'S' && additionalVORequired"
                                 class="form-control"
                                 validation-type="cap"
                                 placeholder="CAP"
                                 error-class="error"
                                 ng-class="{'error' : additionalVO.is == 'S' && ( personalData['additional-vehicle-holder-zipCode'].$dirty && $parent.hasError('additional-vehicle-holder-zipCode') ) || ( additionalVORequired && !checkCapGenerico(additionalVO.addresses[0].zipCode) )}"
                                 default-error-class="ng-hide">
                        <validation key="pattern" error-message="validation.msg.pattern"></validation>
                        <validation key="required" error-message="validation.msg.required"></validation>
                        <input-layout>
                            <span class="input" placeholder="CAP">
                                <input>
                            </span>
                        </input-layout>
                        <error-layout>
                            <label ng-show="personalData.$submitted || personalData['additional-vehicle-holder-zipCode'].$dirty" class="error" style="display: inline-block;" >{{ getPriorityError('required') }}</label>
                        </error-layout>
                    </input-text>
                    <label class="error" ng-show="additionalVORequired && !checkCapGenerico(additionalVO.addresses[0].zipCode)">Inserire un CAP valido</label>
                </div>

                <div class="input-group">
                    <!--<span class="form_read_only">{{ additionalVO.addresses[0].locality.name }}</span>-->
                    <span class="form_read_only"></span>
                    <div class="selectwrap">
                        <select
                                id="additional-vehicle-holder-locality"
                                name="additional-vehicle-holder-locality"
                                ng-model="additionalVO.addresses[0].locality"
                                class="required"
                                tabindex="0"
                                ng-options="item.name for item in additionalVOLoc track by item.countryCode"
                                ng-class="{'error' : additionalVORequired && personalData['additional-vehicle-holder-locality'].$error.required}"
                                ng-required="additionalVO.is == 'S' && additionalVORequired">
                            <option value>Scegli la localit&agrave;</option>
                        </select>
                        <label class="error" ng-show="additionalVORequired && personalData['additional-vehicle-holder-locality'].$error.required" res-data="personalData.formIntestatariAggiuntivi.label.residenza.localita.validazione2"></label>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-2">
        <label res-data="personalData.formIntestatariAggiuntivi.label.indirizzo"></label>
    </div>
    <div class="col-sm-10">
        <div class="row narrow align-adjst">
            <div class="col-sm-2">
                <select
                        id="additional-vehicle-holder-toponym-code"
                        name="additional-vehicle-holder-toponym-code"
                        ng-model="additionalVO.addresses[0].toponymCode"
                        tabindex="0"
                        class="required"
                        ng-class="{'error' : additionalVORequired && personalData['additional-vehicle-holder-toponym-code'].$error.required}"
                        ng-required="additionalVO.is == 'S' && additionalVORequired"
                        ng-options="item.label for item in toponym track by item.value">
                </select>
                <label class="error" ng-show="additionalVORequired && personalData['additional-vehicle-holder-toponym-code'].$error.required" res-data="personalData.formIntestatariAggiuntivi.label.indirizzo.obbligatorio1"></label>
            </div>
            <div class="col-sm-5">
                <div class="input-group">
                    <input
                            type="text"
                            id="additional-vehicle-holder-street"
                            name="additional-vehicle-holder-street"
                            ng-pattern="/^[a-zA-Zàòèéùì0-9\' ,.]*$/"
                            ng-required="additionalVO.is == 'S' && additionalVORequired"
                            class="form-control"
                            ng-model="additionalVO.addresses[0].street"
                            ng-class="{'error' : additionalVORequired && personalData['additional-vehicle-holder-street'].$error.required }"
                            typeahead="street as street.string4Desc for street in getLocation($viewValue,'street',3,additionalVO.addresses[0].locality)"
                            typeahead-on-select='typeaheadOnSelect($item, $model, $label,"additionalVO.addresses[0].toponymCode","additionalVO.addresses[0].zipCode","additionalVO.addresses[0].street")'
                            placeholder="es. Alessandro Manzoni"
                            />
                </div>
                <label class="error" ng-show="additionalVO.is == 'S' && personalData['additional-vehicle-holder-street'].$error.required" res-data="personalData.formIntestatariAggiuntivi.label.indirizzo.obbligatorio2"></label>
                <label class="error" ng-show="additionalVO.is == 'S' && additionalVO.addresses[0].street.$invalid" res-data="personalData.formIntestatariAggiuntivi.label.indirizzo.obbligatorio2">Errore di pattern</label>
            </div>
            <div class="col-sm-2">
                <div class="input-group">
                    <input-text  name="additional-vehicle-holder-street-number"
                                 id="additional-vehicle-holder-street-number"
                                 bind-to="additionalVO.addresses[0].streetNumber"
                                 ng-required="additionalVO.is == 'S' && ( additionalVORequired || personalData['additional-vehicle-holder-street-number'].$dirty)"
                                 placeholder="n.civico"
                                 class="form-control"
                                 ng-class="{'error' : ( personalData['additional-vehicle-holder-street-number'].$dirty && $parent.hasError('additional-vehicle-holder-street-number') ) || ( additionalVORequired && $parent.hasError('additional-vehicle-holder-street-number') )}"
                                 validation-type="addressNumber"
                                 error-class="error"
                                 default-error-class="ng-hide">
                        <validation key="pattern" error-message="validation.msg.pattern"></validation>
                        <validation key="required" error-message="validation.msg.required"></validation>
                        <input-layout>
                        <span class="input">
                            <input>
                        </span>
                        </input-layout>
                        <error-layout>
                            <label ng-show="personalData.$submitted || personalData['additional-vehicle-holder-street-number'].$dirty" class="error" style="display: inline-block;" >{{ getPriorityError('required') }}</label>
                        </error-layout>
                    </input-text>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <label><!--<a ng-click="open()"><i class="help-icon"></i></a>-->Edificio</label>
    </div>
    <div class="col-sm-4 align-adjst aa2">
        <input
                id="additional-vehicle-holder-building"
                name="additional-vehicle-holder-building"
                ng-model="additionalVO.addresses[0].building"
                type="text"
                class="form-control"
                placeholder="Edificio (opzionale)"
                tabindex="0">
    </div>
</div>

<div class="col-sm-12 separator"></div>