

<section class="main-desk">
    <header class="sidebar" >

        <div>
            <div id="draggable1"
                 class="ui-widget-content note"
                 data-drag="true"
                 data-jqyoui-options="{revert: 'invalid'}"
                 ng-model="ctrl.empty"
                 jqyoui-draggable="{{ctrl.dragConfig}}" >{{ctrl.newPost.text}}
            </div>

        </div>
    </header>
    <article class="working-desk"
             data-drop="true"
             data-jqyoui-options
             ng-model="ctrl.postList"
             jqyoui-droppable="{{ctrl.dropConfig}}">

        <div class="note dropped "
             data-drag="true"
             data-jqyoui-options
             ng-model="ctrl.postList"
             jqyoui-draggable
             id="dropped--{{$index}}"
             style="top : {{post.position.top}}px; left : {{post.position.left-300}}px;"
             ng-repeat="post in ctrl.postList track by $index">
            {{post.text}}
        </div>
    </article>
</section>

