<!--<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<a href="/" class="logo" target="_parent" tabindex="-1"></a>
			</div>
			<div class="col-sm-4">
				<span class="subject">
					Preventivo auto <strong>{{dataModel.veichle.characteristics.vehicleBrand}} {{dataModel.veichle.licensePlateNumber}}</strong>
				</span>
			</div>

			<div class="col-sm-4"></div>

			<div class="col-sm-2">
				<div class="welcome">
					<span class="welcome_label">Benvenuto</span>
					<span class="welcome_user_name">{{dataModel.parties[itemsIndexes.holderIndex].firstName}}</span>
				</div>
			</div>
		</div>
	</div>
</header>-->
<header data-header="sharedPage.header" header-directive=""></header>

<section class="page">
	<div class="container-fluid">

		<div class="formWrapper">
			<!--<section class="form_step">
				<ul class="steps ul_inline three">
					<li class="done">
						<span>1. Dati polizza</span>
						<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 315 47" enable-background="new 0 0 315 47" preserveAspectRatio="none"><path fill="#004595" d="M293,47H2c-1.1,0-2-0.9-2-2V2c0-1.1,0.9-2,2-2h291l22,23.5L293,47z"/></svg>
					</li>
					<li class="current">
						<span>2. Contatti</span>
						<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 315 47" enable-background="new 0 0 315 47" preserveAspectRatio="none"><polygon fill="#004595" points="293,47 0,47 22,23.5 0,0 293,0 315,23.5 "/></svg>
					</li>
					<li>
						<span>3. Riepilogo Dati</span>
						<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 315 47" enable-background="new 0 0 315 47" preserveAspectRatio="none"><path fill="#004595" d="M313,47H0l22-23.5L0,0h313c1.1,0,2,0.9,2,2v43C315,46.1,314.1,47,313,47z"/></svg>
					</li>
				</ul>
			</section>

			<section class="headmessage">
				<div class="row">
					<div class="col-sm-4">
						<h6>prezzo per te</h6>
						<b class="price">{{dataModel.policy.grossPremium | puntoVirgolaEU}} <span>&euro;/anno</span></b>




					</div>
				</div>
			</section>-->
			<div data-sub-header="sharedPage.subHeader" sub-header-directive=""></div>

			<section class="form_body">
				<form class="contatti_form custom_form" data-submit-path="ajax_test.php" name="contactDataForm" novalidate real-time-validate="false">
					<!--  valid:{{contactDataForm.$valid}}<br>{{contactDataForm.$error.valueOf()}}<br><br> {{contactDataForm.prefisso1.$invalid}} -->
					<fieldset>
						<h3 class="border"><span res-data="contact.span.contatto"></span></h3>
						<div class="text"><p res-data="contact.p.contatto.testo"></p></div>
						<div class="row">

							<div class="col-sm-12">

									<div class="row">
										<div class="col-sm-2"><label res-data="contact.label.contatto.email"></label></div>
										<div class="col-sm-4">
													<!--input type="text" class="required form-control" id="email" name="email" placeholder="mario.rossi@gmail.com" tabindex="0"-->
													 <input-text  name="email" id="email"
																  bind-to="dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.virtualAddressIndex].contacts[itemsIndexes.emailIndex].email"
																  placeholder="{{'es. mario.rossi@gmail.com'}}"
																  required
																  ng-class="{error : (contactDataForm.email.$dirty || contactDataForm.$submitted) && contactDataForm.email.$invalid}" class="required form-control"
																  validation-type="email"
																  error-class="error"
																  default-error-class="ng-hide">
														<!-- <validation key="required">Obbligatorio</validation>
														 <validation key="pattern">Formato non corretto</validation>-->
														 <validation key="pattern" error-message="validation.msg.pattern"></validation>
														 <validation key="required" error-message="validation.msg.required"></validation>

														 <input-layout>
															<span class="input">
																<input>
															</span>
														 </input-layout>

														 <error-layout>
															 <!--<label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text">{{getErrorMessage(key)}}</label>-->
															 <label ng-show="(contactDataForm.email.$dirty || contactDataForm.$submitted) && contactDataForm.email.$invalid" class="error" style="display: inline-block;" >{{ getPriorityError('required') }}</label>
														 </error-layout>

													 </input-text>
										</div>
									</div>

								<div class="row">
									<div class="col-sm-2"><label res-data="contact.label.contatto.cellulare"></label></div>
									<div class="col-sm-4">
										<div class="row narrow">
											<div class="col-xs-4">
												<div class="input-group">
													<!-- input type="tel" class="required number form-control" id="prefisso1" name="prefisso1" placeholder="328" tabindex="0"-->
													<input-text name="prefisso1" id="prefisso1"
																bind-to="dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.virtualAddressIndex].contacts[itemsIndexes.mobileIndex].prefix"
																required
																ng-class="{error : (contactDataForm.prefisso1.$dirty || contactDataForm.$submitted) && contactDataForm.prefisso1.$invalid}" class="number form-control"
																placeholder="{{ dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.virtualAddressIndex].contacts[itemsIndexes.mobileIndex].prefix || '328'}}" validation-type="phonePrefix"
																error-class="error"
																default-error-class="ng-hide">

														<!--<validation key="required">Obbligatorio</validation>
														<validation key="pattern">Formato non corretto</validation>-->
														<validation key="pattern" error-message="validation.msg.pattern"></validation>
														<validation key="required" error-message="validation.msg.required"></validation>

														<input-layout>
															<span class="input">
																<input>
															</span>
														</input-layout>

														<error-layout>
															<!--<label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text">{{getErrorMessage(key)}}</label>-->
															<label ng-show="(contactDataForm.prefisso1.$dirty || contactDataForm.$submitted) && contactDataForm.prefisso1.$invalid" class="error" style="display: inline-block;" >{{ getPriorityError('required') }}</label>
														</error-layout>

							                        </input-text>
												</div>
											</div>
											<div class="col-xs-8">
												<div class="input-group">
													<!-- <input type="tel" class="required number form-control" id="numero1" name="numero1" placeholder="012345678" tabindex="0"> -->
													<input-text  name="numero1" id="numero1" bind-to="dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.virtualAddressIndex].contacts[itemsIndexes.mobileIndex].phoneNumber"
																 required
																 ng-class="{error : (contactDataForm.numero1.$dirty || contactDataForm.$submitted) && contactDataForm.numero1.$invalid}"
																 class="required number form-control" placeholder="{{dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.virtualAddressIndex].contacts[itemsIndexes.mobileIndex].phoneNumber || '012345678'}}"
																 validation-type="phoneNumber"
														error-class="error"
														default-error-class="ng-hide">
														<!--<validation key="required">Obbligatorio</validation>
														<validation key="pattern">Formato non corretto</validation>-->
														<validation key="pattern" error-message="validation.msg.pattern"></validation>
														<validation key="required" error-message="validation.msg.required"></validation>


														<input-layout>
														<span class="input">
															<input>
														</span>
														</input-layout>

														<error-layout>
															<!--<label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text">{{getErrorMessage(key)}}</label>-->
															<label ng-show="(contactDataForm.numero1.$dirty || contactDataForm.$submitted) && contactDataForm.numero1.$invalid" class="error" style="display: inline-block;" >{{ getPriorityError('required') }}</label>
														</error-layout>
							                        </input-text>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<p class="uppercase"><small res-data="contact.small.contatto.cellulare.testo"></small></p>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-2"><label res-data="contact.label.contatto.casa"></label></div>
									<div class="col-sm-4">
										<div class="row narrow">
											<div class="col-xs-4">
												<div class="input-group">
													<!-- <input type="tel" class="required number form-control" id="prefisso2" name="prefisso2" placeholder="328" tabindex="0"> -->
													<input-text  name="prefisso2" id="prefisso2"
																 bind-to="dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].contacts[itemsIndexes.phoneNumberIndex].prefix" class="required number form-control"
																 ng-class="{error : (contactDataForm.prefisso2.$dirty || contactDataForm.$submitted) && contactDataForm.prefisso2.$invalid}"
																 placeholder="{{dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].contacts[itemsIndexes.phoneNumberIndex].prefix || '02'}}"
																 validation-type="homePhonePrefix"
																error-class="error"
																default-error-class="ng-hide"><!--
														<validation key="pattern">Formato non corretto</validation>-->
														<validation key="pattern" error-message="validation.msg.pattern"></validation>


														<input-layout>
														<span class="input">
															<input>
														</span>
														</input-layout>

														<error-layout>
															<!--<label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text">{{getErrorMessage(key)}}</label>-->
															<label ng-show="(contactDataForm.prefisso2.$dirty || contactDataForm.$submitted) && contactDataForm.prefisso2.$invalid" class="error" style="display: inline-block;" >{{ getPriorityError('required') }}</label>
														</error-layout>
						                            </input-text>
												</div>
											</div>
											<div class="col-xs-8">
												<div class="input-group">
													<!-- <input type="tel" class="required number form-control" id="numero2" name="numero2" placeholder="012345678" tabindex="0"> -->
													<input-text  name="numero2" id="numero2"
																 bind-to="dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].contacts[itemsIndexes.phoneNumberIndex].phoneNumber" class="required number form-control"
																 ng-class="{error : (contactDataForm.numero2.$dirty || contactDataForm.$submitted) && contactDataForm.numero2.$invalid}"
																 placeholder="{{dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].contacts[itemsIndexes.phoneNumberIndex].phoneNumber || '012345678'}}"
																 validation-type="phoneNumber"
																 error-class="error"
																 default-error-class="ng-hide"><!--
														<validation key="pattern">Formato non corretto</validation>-->
														<validation key="pattern" error-message="validation.msg.pattern"></validation>

														<input-layout>
														<span class="input">
															<input>
														</span>
														</input-layout>

														<error-layout>
															<!--<label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text">{{getErrorMessage(key)}}</label>-->
															<label ng-show="(contactDataForm.numero2.$dirty || contactDataForm.$submitted) && contactDataForm.numero2.$invalid" class="error" style="display: inline-block;" >{{ getPriorityError('required') }}</label>
														</error-layout>

							                        </input-text>
												</div>
											</div>
										</div>

									</div>
								</div>

							</div>
						</div>


					</fieldset>


					<fieldset class="indirizzo-residenza">
						<h4 class="border"><span res-data="contact.span.contatto.residenza"></span></h4>


						<!-- INPUT: Indirizzo -->

						<div class="row">
							<div class="col-sm-2">
								<label res-data="contact.label.contatto.residenza.indirizzo"></label>
							</div>
							<div class="col-sm-10">
								<div class="row narrow">


									<!-- SELECT: Via -->
									<div class="col-sm-2">
										<!-- <select id="address_type" class="form-control" name="address_type" tabindex="0" class="required">
											<option value="0069">Alzaia</option> -->

										<select id="address_type"
												ng-change="setToponym4Desc(dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex], contactDataForm.toponym.$viewValue)"
												ng-model="dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].toponymCode"
												name="toponym"
												ng-options="item.value as item.label for item in selecttoponym"
												class="required form-control" tabindex="0"
												ng-class="{error : (contactDataForm.toponym.$dirty || contactDataForm.$submitted) && contactDataForm.toponym.$invalid}"
												required>
										</select>
									</div>


									<!-- INPUT: Indirizzo -->

									<div class="col-sm-5">
										<div class="input-group full-width-col">
											<!-- <input type="text" id="indirizzo" name="address" ng-model="dataModel.parties[itemsIndexes.holderIndex].addresses[0].street" ng-class="{error : contactDataForm.$submitted && contactDataForm.address.$invalid}"  class="form-control" data-autocomplete-via="app/partials/json/data-esempio-indirizzo.json"  placeholder="{{indirizzo || 'es. Giosu&egrave; Carducci'}}" tabindex="0" required> -->
											<!--<input-text  name="address" id="indirizzo"
														 bind-to="dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].street"
														 ng-class="{error : (contactDataForm.address.$dirty || contactDataForm.$submitted) && contactDataForm.address.$invalid}"
														 class="form-control" validation-type="address"
														 data-autocomplete-via="app/partials/json/data-esempio-indirizzo.json"
														 placeholder="{{dataModel.parties[itemsIndexes.holderIndex].addresses[0].street || 'es. Giosu&egrave; Carducci'}}"  tabindex="0" required
												error-class="error"
												default-error-class="ng-hide">
												<validation key="required">Obbligatorio</validation>
												<validation key="pattern">Formato non corretto</validation>

												<input-layout>
																			<span class="input">
																				<input>
																			</span>
												</input-layout>

												<error-layout>
													<label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text">{{getErrorMessage(key)}}</label>
												</error-layout>

											</input-text>
-->

											<input name="address" id="indirizzo"
												   ng-model="pageObj.street4desc"
												   ng-class="{error : (contactDataForm.address.$dirty || contactDataForm.$submitted) && contactDataForm.address.$invalid}"
												   typeahead="street.string4Desc as street.string4Desc for street in autocomplete(dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].localityCode, contactDataForm.address.$viewValue)"
												   required
												   placeholder="{{dataModel.parties[itemsIndexes.holderIndex].addresses[0].street || 'es. Giosu&egrave; Carducci'}}"   tabindex="0"
												   class="form-control"
												ng-blur="customAddress()">
											<!-- ng-pattern="/^[a-zA-Zàòèéùì0-9\' ,.]*$/"
											ng-blur="validateOnBlur(contactDataForm.addressC_o, 'address')" -->
											<div class="row" ng-show="(contactDataForm.address.$dirty || contactDataForm.$submitted) && contactDataForm.address.$error.pattern">
												<div class="col-sm-12">
													<label class="error error-radio typo-copy-small">Formato non corretto</label>
												</div>
											</div>
											<div class="row" ng-show="(contactDataForm.address.$dirty || contactDataForm.$submitted) && contactDataForm.address.$error.required">
												<div class="col-sm-12">
													<label class="error error-radio typo-copy-small">Obbligatorio</label>
												</div>
											</div>

										</div>
									</div>


									<!-- INPUT: Numero civico -->

									<div class="col-sm-2">
										<div class="input-group full-width-col">
											<!-- <input type="text" class="form-control ncivico" id="n_civico" name="addressN" ng-model="dataModel.parties[itemsIndexes.holderIndex].addresses[0].streetNumber" ng-class="{error : contactDataForm.$dirty || contactDataForm.$submitted) && contactDataForm.addressN.$invalid}"  placeholder="{{n_civico || 'n.civico'}}" tabindex="0" required> -->
											<input-text  name="addressN" id="n_civico" bind-to="dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].streetNumber"
														 ng-class="{error : (contactDataForm.addressN.$dirty || contactDataForm.$submitted) && contactDataForm.addressN.$invalid}" class="form-control ncivico"
														 validation-type="addressNumber" placeholder="{{dataModel.parties[itemsIndexes.holderIndex].addresses[0].streetNumber || 'n.civico'}}"  tabindex="0"
														 required
														 error-class="error"
														 default-error-class="ng-hide">

												<!--<validation key="required">Obbligatorio</validation>
												<validation key="pattern">Formato non corretto</validation>-->

												<validation key="pattern" error-message="validation.msg.pattern"></validation>
												<validation key="required" error-message="validation.msg.required"></validation>

												<input-layout>
																			<span class="input">
																				<input>
																			</span>
												</input-layout>

												<error-layout>
													<!--<label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text">{{getErrorMessage(key)}}</label>-->
													<label ng-show="(contactDataForm.addressN.$dirty || contactDataForm.$submitted) && contactDataForm.addressN.$invalid" class="error" style="display: inline-block;" >{{ getPriorityError('required') }}</label>
												</error-layout>

											</input-text>
										</div>
									</div>


									<!-- INPUT: Edificio -->
									<div class="col-sm-3">
										<div class="input-group full-width-col">
											<input type="text" id="building" name="building" ng-model="dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].building" class="form-control" placeholder="{{building || 'Edificio(opzionale)'}}" tabindex="0">

										</div>
									</div>
								</div>
							</div>
						</div>


						<!-- SELECT: Località -->

						<div class="row">

							<div class="col-sm-2">
								<label res-data="contact.label.contatto.residenza.localita"></label>
							</div>

							<div class="col-sm-10">
								<div class="row narrow">
									<div class="col-sm-2">

										<div class="input-group">
											<!--<input type="text" placeholder="{{dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].zipCode}}" class="form-control required cap" id="cap"
												   name="zipCode" ng-model="dataModel.parties[itemsIndexes.holderIndex].zipCode" tabindex="0"
												   disabled>
											ng-keyup="$parent.doListen()" ng-blur="$parent.doListen()"-->

											<input name="zipCode" id="cap"
												   ng-blur="checkCapValid()"
												   type="text" placeholder="{{dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].zipCode}}"
												   class="form-control required cap" tabindex="0"
												   ng-model="dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].zipCode"
												   required
												   ng-disabled="!pageObj.capEditable"
												   ng-class="{error : (contactDataForm.zipCode.$dirty || (contactDataForm.$submitted && pageObj.validateSubForm)) && (contactDataForm.zipCode.$invalid || $parent.hasError('zipCode') ) }"
												   ng-pattern="/^\d{2}[01589]\d{2}$/"
												   maxlength="5">

											<div class="row" ng-show="( contactDataForm.zipCode.$dirty && ( contactDataForm.zipCode.$invalid ) ) ">
												<div>
													<label class="error error-radio typo-copy-small" ng-show="contactDataForm.zipCode.$error.required && !pageObj.capViolation.status">{{resarr['validation.msg.required']}}</label>
													<label class="error error-radio typo-copy-small" ng-show="contactDataForm.zipCode.$error.pattern">{{resarr['validation.msg.pattern']}}</label>
													<label class="error error-radio typo-copy-small" ng-show="pageObj.capViolation.status && !contactDataForm.zipCode.$error.pattern">{{pageObj.capViolation.message}}</label>

												</div>
											</div>

										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<span class="form_read_only">{{dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].city}}</span>
											<div class="selectwrap">
												<div class="form-control" style="visibility: hidden">
												</div>

											</div>
											<!--<span class="form_read_only" ng-show="!pageObj.capEditable">{{dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].city}}</span>
											<div class="selectwrap">
												<div class="form-control" ng-show="!pageObj.capEditable" style="visibility: hidden">
												</div>
												<select  id="locality" name="locality"
														 data-placeholder="{{setHamlet || 'Scegli la localit&agrave;'}}" ng-change="$parent.bindCityAndProvince(true)"
														 ng-disabled="contactDataForm.zipCode.$invalid || !selectLocalityResidential"
														 ng-model="dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.residentialAddressIndex].localityCode"
														 ng-class="{error :contactDataForm.$submitted &&  contactDataForm.locality.$invalid}"
														 ng-options="item.countryCode as item.name for item in selectLocalityResidential" class="form-control" tabindex="0"
														 ng-required="pageObj.isGeneric"
														 ng-if="pageObj.capEditable">

												</select>

											</div>-->
											<div class="row" ng-show="contactDataForm.$submitted && contactDataForm.locality.$error.required">
												<div>
													<label class="error error-radio typo-copy-small">Obbligatorio</label>
												</div>
											</div>
										</div>

									</div>

								</div>
							</div>


						</div>

					</fieldset>


					<fieldset class="communications">
						<h3 class="border"><span res-data="contact.span.comunicazioni"></span></h3>
						<div class="text">
							<p res-data="contact.p.comunicazioni.testo1"></p>
							<p><b res-data="contact.b.comunicazioni.testo2"></b></p>
						</div>
						<div class="row">
							<div class="col-sm-7">

								<div class="row">
									<div class="col-sm-6"><label res-data="contact.label.comunicazioni.preventivo"></label></div>
									<div class="col-sm-6" data-radio-wrapper>
										<label class="radio radio-inline">
											<input id="com_preventivo1" ng-click="checkDelivery()" name="com_preventivo" type="radio" value="03" tabindex="0" ng-model="dataModel.parties[itemsIndexes.holderIndex].prefShipmentTypePre">
											<span class="label" res-data="contact.span.comunicazioni.preventivo.email"></span>
										</label>
										<label class="radio radio-inline">
											<input id="com_preventivo2" name="com_preventivo" type="radio" value="04" tabindex="0" ng-model="dataModel.parties[itemsIndexes.holderIndex].prefShipmentTypePre">
											<span class="label" res-data="contact.span.comunicazioni.preventivo.posta"></span>
										</label>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6"><label res-data="contact.label.comunicazioni.stipulaPolizza"></label></div>
									<div class="col-sm-6" data-radio-wrapper>
										<label class="radio radio-inline">
											<input id="com_stipula1" ng-click="checkDelivery()" name="com_stipula" type="radio" value="03" tabindex="0" ng-model="dataModel.parties[itemsIndexes.holderIndex].prefShipmentType">
											<span class="label" res-data="contact.span.comunicazioni.stipulaPolizza.email"></span>
										</label>
										<label class="radio radio-inline">
											<input id="com_stipula2" name="com_stipula" type="radio" value="04" tabindex="0" ng-model="dataModel.parties[itemsIndexes.holderIndex].prefShipmentType">
											<span class="label" res-data="contact.span.comunicazioni.stipulaPolizza.posta"></span>
										</label>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6"><label res-data="contact.label.comunicazioni.gestioneContratto"></label></div>
									<div class="col-sm-6" data-radio-wrapper>
										<label class="radio radio-inline">
											<input id="com_contratto1" ng-click="checkDelivery()" name="com_contratto" type="radio" value="03" tabindex="0" ng-model="dataModel.parties[itemsIndexes.holderIndex].prefShipmentTypePost">
											<span class="label" res-data="contact.span.comunicazioni.gestioneContratto.email"></span>
										</label>
										<label class="radio radio-inline">
											<input id="com_contratto2" name="com_contratto" type="radio" value="04" tabindex="0" ng-model="dataModel.parties[itemsIndexes.holderIndex].prefShipmentTypePost">
											<span class="label" res-data="contact.span.comunicazioni.gestioneContratto.posta"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-5">
								<div class="text">
									<p><small res-data="contact.small.comunicazioni.testo"></small></p>
								</div>
							</div>
						</div>
					</fieldset>

					<fieldset id="ricevoperposta" ng-show="dataModel.parties[itemsIndexes.holderIndex].prefShipmentTypePre =='04' || pageObj.deliveryInformation == 'S' " slide-toggle="dataModel.parties[itemsIndexes.holderIndex].prefShipmentTypePre == '04' || pageObj.deliveryInformation == 'S' ">
						<h4 class="border"><span res-data="contact.span.comunicazioni.spedizione"></span></h4>

						<div class="row">
							<div class="col-sm-6"><label res-data="contact.label.comunicazioni.spedizione.testo"></label></div>
							<div class="col-sm-6" data-radio-wrapper>
								<label class="radio radio-inline">
									<input id="indirizzodiversoposta1" ng-click="createSecAdd()" name="deliveryInformation" type="radio" value="S" tabindex="0" ng-model="pageObj.deliveryInformation" required>
									<span class="label" res-data="contact.span.comunicazioni.spedizione.si"></span>
								</label>
								<label class="radio radio-inline">
									<input id="indirizzodiversoposta2" ng-click="delSecAdd()" name="deliveryInformation" type="radio" value="N" tabindex="0" ng-model="pageObj.deliveryInformation" required>
									<span class="label" res-data="contact.span.comunicazioni.spedizione.no"></span>
								</label>
							</div>
						</div>

						<div id="indirizzodiversoposta" ng-show="pageObj.deliveryInformation =='S'" slide-toggle="pageObj.deliveryInformation == 'S'">
							<h5 res-data="contact.h5.comunicazioni.spedizione.testo"></h5>

							<div class="row">
								<div class="col-sm-2"><label res-data="contact.label.comunicazioni.spedizione.nomeCognome"></label></div>
								<div class="col-sm-10">
									<div class="read-group">
										<label class="read"><strong>{{pageObj.nome | nameCamelCase}}</strong></label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-2"> <label res-data="contact.label.comunicazioni.spedizione.presso"></label></div>
								<div class="col-sm-2">

										<!-- <input type="text" id="presso" name="buildingC_o" class="form-control" placeholder="{{building || 'Presso'}}" tabindex="0" ng-model="dataModel.parties[itemsIndexes.holderIndex].addresses[$parent.alternativeAddressIndex].presso" ng-if="dataModel.policy.deliveryInformation =='S'"> -->
										<input type="text"  name="nameC_o" id="presso" ng-model="dataModel.addresses.careOf"
											   class="form-control"
											   placeholder="{{dataModel.addresses.careOf || 'Presso'}}"
											   ng-if="pageObj.deliveryInformation =='S'"
													>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-2"> <label res-data="contact.label.comunicazioni.spedizione.cap"></label></div>
								<div class="col-sm-2">

										<!-- <input type="text" id="cap" name="cap" class="form-control" placeholder="CAP" tabindex="0" ng-model="infoChannel.cap">
										ng-required="( contactDataForm.$submitted && pageObj.validateSubForm)  || (contactDataForm.zipCodeC_o.$invalid && pageObj.validateSubForm) "
										-->
										<!--<input-text ng-keyup="$parent.doListen()" ng-focus="$parent.doListen()" ng-blur="$parent.doListen()" name="zipCodeC_o" id="zipCodeC_o"
													bind-to="dataModel.addresses.zipCode"
													required
													ng-class="{error : (contactDataForm.zipCodeC_o.$dirty || (contactDataForm.$submitted && pageObj.validateSubForm)) && (contactDataForm.zipCodeC_o.$invalid || $parent.hasError('zipCodeC_o') ) }"
													class="form-control" ng-if="pageObj.deliveryInformation =='S'"
													validation-type="cap" error-class="error"
													default-error-class="ng-hide">

											<validation key="required">Obbligatorio</validation>
											<validation key="pattern">Formato non corretto</validation>

											<input-layout>
				                                <span class="input">
				                                    <input>
				                                </span>
				                            </input-layout>

											<error-layout>
												<label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text">{{getErrorMessage(key)}}</label>
											</error-layout>

				                        </input-text>-->

									<input ng-keyup="$parent.doListen()"  ng-blur="$parent.doListen(); $parent.checkZipCodeCo('blur');" name="zipCodeC_o" id="zipCodeC_o"
										   ng-model="dataModel.addresses.zipCode"
										   required
										   ng-class="{error : (contactDataForm.$submitted || pageObj.zipCodeC_oValidate) && pageObj.validateSubForm && contactDataForm.zipCodeC_o.$invalid }"
										   class="form-control" ng-if="pageObj.deliveryInformation =='S'"
										   ng-pattern="/^\d{2}[01589]\d{2}$/"
										   maxlength="5">
									<div class="row">
										<div>
											<label class="error error-radio typo-copy-small" ng-show="contactDataForm.zipCodeC_o.$error.required && (contactDataForm.$submitted || pageObj.zipCodeC_oValidate) ">{{resarr['validation.msg.required']}}</label>
											<label class="error error-radio typo-copy-small" ng-show="contactDataForm.zipCodeC_o.$error.pattern  && (contactDataForm.$submitted || pageObj.zipCodeC_oValidate) ">{{resarr['validation.msg.pattern']}}</label>
										</div>
									</div>


								</div>
							</div>

							<div class="row">
								<div class="col-sm-2"><label res-data="contact.label.comunicazioni.spedizione.comune"></label></div>
								<div class="col-sm-10">
									<div class="row narrow">
										<div class="col-sm-5">
										<!--<img alt="waiting..." src="app/img/circle.png" ng-if="waitingForSelect">-->
											<span us-spinner="{radius:20, width:8, length: 16}" spinner-key="spinner-1"></span>
											<select  data-placeholder="{{setHamlet || 'Scegli la localit&agrave;'}}" ng-change="$parent.bindCityAndProvince(false)"
													 ng-disabled="contactDataForm.zipCodeC_o.$invalid || !selectLocality" id="localityC_o" name="localityC_o"
													 ng-model="dataModel.addresses.localityCode" ng-class="{error : (contactDataForm.localityC_o.$dirty || (contactDataForm.$submitted && pageObj.validateSubForm)) && contactDataForm.localityC_o.$invalid}"
													 ng-options="item.countryCode as item.name for item in selectLocality" class="" tabindex="0"
													 ng-required="( contactDataForm.$submitted && pageObj.validateSubForm)  || (contactDataForm.localityC_o.$invalid && pageObj.validateSubForm) "
													 ng-if="pageObj.deliveryInformation =='S'">

											</select>
											<div class="row" ng-show="contactDataForm.$submitted && contactDataForm.localityC_o.$invalid">
												<div class="col-sm-12">
													<label class="error error-radio typo-copy-small">Obbligatorio</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-2">
									<label res-data="contact.label.comunicazioni.spedizione.indirizzo"></label>
								</div>
								<div class="col-sm-10">
									<div class="row narrow">
										<div class="col-sm-2">
										<select id="toponymC_o" name="toponymC_o" ng-model="dataModel.addresses.toponymCode" ng-class="{error : (contactDataForm.toponymC_o.$dirty || (contactDataForm.$submitted && pageObj.validateSubForm)) && contactDataForm.toponymC_o.$invalid}"
												ng-options="item.value as item.label for item in selecttoponym" tabindex="0"
												ng-change="setToponym4Desc(dataModel.addresses, contactDataForm.toponymC_o.$viewValue)"
												ng-required="( contactDataForm.$submitted && pageObj.validateSubForm)  || (contactDataForm.toponymC_o.$invalid && pageObj.validateSubForm) "
												ng-if="pageObj.deliveryInformation =='S'">
											<!--
											<select id="address_type" class="form-control" name="address_type" tabindex="0" ng-model="infoChannel.indirizzo">
												<option value="0000">Seleziona Comune</option>

												<option value="0067">Zona</option> -->
											</select>
										</div>

										<div class="col-sm-5">
											<div class="input-group">
												<!-- <input type="text" id="indirizzoC_o" name="addressC_o" ng-model="dataModel.addresses.street"  ng-class="{error : contactDataForm.$submitted && contactDataForm.addressC_o.$invalid}" class="form-control" data-autcomplete-via="app/partials/data-esempio-indirizzo.json" placeholder="{{indirizzo || 'es. Giosu&egrave; Carducci'}}" tabindex="0" required ng-if="pageObj.deliveryInformation =='S'"> -->
												<!--<input-text  name="addressC_o" id="indirizzoC_o" bind-to="dataModel.addresses.street"
															 ng-ke__yup="autocomplete(dataModel.addresses.countryCode, contactDataForm.addressC_o.$viewValue)"
															 typeahead="street as street.name for street in autocomplete(dataModel.addresses.countryCode, contactDataForm.addressC_o.$viewValue)"

															 ng-required="( contactDataForm.$submitted && pageObj.validateSubForm)  || (contactDataForm.addressC_o.$invalid && pageObj.validateSubForm) "
															 ng-class="{error : (contactDataForm.addressC_o.$dirty || (contactDataForm.$submitted && pageObj.validateSubForm)) && contactDataForm.addressC_o.$invalid}" class="form-control" validation-type="address" placeholder="{{indirizzo || 'es. Giosu&egrave; Carducci'}}" tabindex="0"  ng-if="pageObj.deliveryInformation =='S'"
													error-class="error"
													default-error-class="ng-hide">

													<validation key="required">Obbligatorio</validation>
													<validation key="pattern">Formato non corretto</validation>

													<input-layout>
														<span class="input">
															<input>
														</span>
													</input-layout>

													<error-layout>
														<label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text">{{getErrorMessage(key)}}</label>
													</error-layout>

						                        </input-text>-->

												<input name="addressC_o" id="indirizzoC_o"
													   ng-model="pageObj.street4descC_o"
													   typeahead="street.string4Desc as street.string4Desc for street in autocomplete(dataModel.addresses.localityCode, contactDataForm.addressC_o.$viewValue)"
													   ng-required="( contactDataForm.$submitted && pageObj.validateSubForm)  || (contactDataForm.addressC_o.$invalid && pageObj.validateSubForm) "
													   ng-class="{error : (contactDataForm.addressC_o.$dirty || (contactDataForm.$submitted && pageObj.validateSubForm)) && (contactDataForm.addressC_o.$error.pattern || contactDataForm.addressC_o.$error.required ) }"
													   placeholder="{{indirizzo || 'es. Giosu&egrave; Carducci'}}" tabindex="0"
													   class="form-control"
													   ng-blur="customAddressC_o()"
													   ng-if="pageObj.deliveryInformation =='S'">
												<!-- ng-pattern="/^[a-zA-Zàòèéùì0-9\' ,.]*$/"
												ng-blur="validateOnBlur(contactDataForm.addressC_o, 'address')" -->
												<div class="row" ng-show="(contactDataForm.addressC_o.$dirty || (contactDataForm.$submitted && pageObj.validateSubForm)) && (contactDataForm.addressC_o.$error.pattern )  ">
													<div class="col-sm-12">
														<label class="error error-radio typo-copy-small">Formato non corretto</label>
													</div>
												</div>
												<div class="row" ng-show="(contactDataForm.addressC_o.$dirty || (contactDataForm.$submitted && pageObj.validateSubForm)) && (contactDataForm.addressC_o.$error.required ) ">
													<div class="col-sm-12">
														<label class="error error-radio typo-copy-small">Obbligatorio</label>
													</div>
												</div>
											</div>
										</div>

										<div class="col-sm-2">
											<div class="input-group">
												<!-- <input type="text" class="form-control" id="addressNC_o" ng-model="dataModel.parties[itemsIndexes.holderIndex].addresses[itemsIndexes.alternativeAddressIndex].streetNumber" name="addressNC_o"  ng-class="{error : contactDataForm.$submitted && contactDataForm.addressNC_o.$invalid}" placeholder="{{n_civico || 'n.civico'}}" tabindex="0" required ng-if="pageObj.deliveryInformation =='S'"> -->
												<input-text  name="addressNC_o" id="addressNC_o" bind-to="dataModel.addresses.streetNumber"
															 ng-required="( contactDataForm.$submitted && pageObj.validateSubForm)  || (contactDataForm.addressNC_o.$invalid && pageObj.validateSubForm) "
															 ng-class="{error : (contactDataForm.addressNC_o.$dirty || (contactDataForm.$submitted && pageObj.validateSubForm)) && contactDataForm.addressNC_o.$invalid}" class="form-control" validation-type="addressNumber" placeholder="{{dataModel.addresses.streetNumber || 'n.civico'}}" tabindex="0"  ng-if="pageObj.deliveryInformation =='S'"
													error-class="error"
													default-error-class="ng-hide">

													<!--<validation key="required">Obbligatorio</validation>
													<validation key="pattern">Formato non corretto</validation>-->
													<validation key="pattern" error-message="validation.msg.pattern"></validation>
													<validation key="required" error-message="validation.msg.required"></validation>

													<input-layout>
														<span class="input">
															<input>
														</span>
													</input-layout>

													<error-layout>
														<!--<label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text">{{getErrorMessage(key)}}</label>-->
														<label ng-show="(contactDataForm.addressNC_o.$dirty || (contactDataForm.$submitted && pageObj.validateSubForm)) && contactDataForm.addressNC_o.$invalid" class="error" style="display: inline-block;" >{{ getPriorityError('required') }}</label>
													</error-layout>

						                        </input-text>
											</div>
										</div>

										<div class="col-sm-3">
											<div class="input-group">
												<input type="text" class="form-control" name="buildingC_o" ng-model="dataModel.addresses.building" placeholder="Edificio (opzionale)" tabindex="0">
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</fieldset>

					<div class="stickPoint">
						<!--<div class="form_controls sticker" >
							<div class="wrap">
								<div class="row">
									<div class="col-sm-3">
										<button ng-click="goBack()" class="btn btn-primary btn-submit btn-allcaps indietro" type="button" tabindex="-1"><span>&#8249;</span> Indietro</button>

									</div>
									<div class="col-sm-3 col-sm-offset-3">
									&lt;!&ndash; 	<button class="btn btn-secondary btn-submit btn-allcaps" type="submit" tabindex="0">Salva <span>&#8250;</span></button>
										<h6 class="sub-button second">Per bloccare il prezzo senza impegno</h6> &ndash;&gt;
									</div>
									<div class="col-sm-3">
										<button ng-click="goNext()" id="contactDataPageNextBtn" class="btn btn-primary btn-submit btn-allcaps" type="text" tabindex="0">Prosegui <span>&#8250;</span></button>
										&lt;!&ndash; <button onclick="location.hash='/riepilogo-registrato';" class="btn btn-primary btn-submit btn-allcaps" type="submit" tabindex="0">Prosegui <span>&#8250;</span></button> &ndash;&gt;
										<h6 class="sub-button">Acquista subito la polizza</h6>
									</div>
								</div>
							</div>
						</div>-->
						<div  data-footer="sharedPage.footer" class="stickPoint" footer-directive=""></div>
					</div>

				</form>

			</section>
		</div>
	</div>
</section>
