<section class="main-desk">
    <header class="sidebar">

        <div>
            <div class="ui-widget-content note" id="ancor-post-it" >
                <p>Drag me around</p>
            </div>
            <div  id="draggable"
                  class="ui-widget-content note">
                <textarea name="_text" style="display: none; height:100px; width:130px"></textarea>
                <p class="text">Drag me around</p>
            </div>
        </div>
        <pre>
            {{ctrl.listPost | json}}
        </pre>
    </header>
    <article class="working-desk">
        <div  id="{{key}}"
              class="ui-widget-content note"
              style="top :{{post.position.top}}px; left : {{post.position.left}}px;"
              ng-repeat="(key,post) in ctrl.listPostFromFire track by $index"
              on-finish-render="ngRepeatFinished">
            <textarea name="_text" style="display: none; height:100px; width:130px; " ng-model="ctrl.listPost[key].text"></textarea>
            <p class="text">{{post.text}}</p>
        </div>
    </article>
</section>

