<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jQuery UI Draggable - Default functionality</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://jqueryui.com/draggable/resources/demos/style.css">

    <script>
        $(function() {
            $( "#draggable" ).draggable();

        });
    </script>
</head>
<body>
<section class="main-desk">
    <header class="sidebar">

        <div>
            <div id="draggable" class="ui-widget-content note">
                <p>Drag me around</p>
            </div>
    </header>
    <article class="working-desk">
    </article>
</section>


</body>
</html>