<section class="page">
    <div class="container-fluid">
        <div class="formWrapper">
            <!-- Page content -->
            <section class="form_body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-danger alert-danger-info" role="alert">
                            <<h1 style="color: #e1343e;">
                                Si è verificato un problema
                            </h1>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>