<div class="container-fluid" data-ng-if="header && header.show" ng-cloak>
    <div class="row">
        <div class="col-sm-2">
            <a href="/" class="logo" target="_parent" tabindex="-1"></a>
        </div>
        <div class="col-sm-4">
            <span class="subject">
                Preventivo <span data-ng-bind="header.vehicleType"></span> <strong data-ng-bind="header.vehicleName">
                </strong>
            </span>
        </div>

        <div class="col-sm-4"></div>

        <div class="col-sm-2">
            <div class="welcome">
                <span class="welcome_label">Benvenuto</span>
                <span class="welcome_user_name" data-ng-bind="header.userName"></span>
            </div>
        </div>
    </div>
</div>