<span>
	<span ng-if="offerSuggested === undefined || offerToView() == OFFER_MAPPING_DISPLAY[vehicle.characteristics.code]['CUST']">
			<span ng-if="offer.coverages[gCode].limitations[limitationCode]
					&& offer.coverages[gCode].limitations[limitationCode].limitationValues.length > 1">
				<select  name="limitation_{{limitationCode}}"
						 ng-change="limitationCode == '0003-0004' ? doubleLimitationBinding(gCode, limitationCode, offer.coverages[gCode].limitations[limitationCode].value) : false"
						 ng-model="offer.coverages[gCode].limitations[limitationCode].value"
						 ng-options="limitationValue.value as limitationValue.description for limitationValue in offer.coverages[gCode].limitations[limitationCode].limitationValues" ></select>
				<a class="pop_layer_opener" data-ng-click="openModal('offer.popup.'+gCode+'.'+limPosition+'.title', 'offer.popup.'+gCode+'.'+limPosition+'.body')">
				</a>
			</span>
			<span ng-if="offer.coverages[gCode].limitations[limitationCode].limitationValues.length == 1"
				  data-ng-bind="limitationCode == '0001' || limitationCode == '0002' ? (offer.coverages[gCode].limitations[limitationCode].limitationValues[0].description | customizeLimitationDescription) : offer.coverages[gCode].limitations[limitationCode].limitationValues[0].description"></span>
	</span>
	<span  ng-if="offerSuggested !==undefined && offerToView() == OFFER_MAPPING_DISPLAY[vehicle.characteristics.code]['SUGG']">
			<span ng-if="offerSuggested.coverages[gCode].limitations[limitationCode]
					&& offerSuggested.coverages[gCode].limitations[limitationCode].limitationValues.length > 1">
				<select  name="limitation_{{limitationCode}}"
						 ng-disabled="true"
						 ng-model="offerSuggested.coverages[gCode].limitations[limitationCode].value"
						 ng-options="limitationValue.value as limitationValue.description for limitationValue in offerSuggested.coverages[gCode].limitations[limitationCode].limitationValues" ></select>
				<a class="pop_layer_opener" data-ng-click="openModal('offer.popup.'+gCode+'.'+limPosition+'.title', 'offer.popup.'+gCode+'.'+limPosition+'.body')">
				</a>
			</span>
			<span ng-if="offerSuggested.coverages[gCode].limitations[limitationCode].limitationValues.length == 1"
				  data-ng-bind="limitationCode == '0001' || limitationCode == '0002' ? (offerSuggested.coverages[gCode].limitations[limitationCode].limitationValues[0].description | customizeLimitationDescription) : offerSuggested.coverages[gCode].limitations[limitationCode].limitationValues[0].description"></span>
	</span>
</span>


